body {
	background-image:url('fa.jpg');
} 

TABLE{
	cellspacing:2; 
	cellpadding:10;
	align:center;
	cursor: crosshair;
}

TABLE tr:hover{
	background-color:orange;
}

TABLE tr td:hover{
	background-color:darkorange;
}


#header{
	height : 200px,;
	width : 100%;
	background-color : lightblue;
	text-align : right;

}